@import 'partials/normalize.scss';
@import url('https://fonts.googleapis.com/css?family=Merriweather');
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i');

html {
  font-family: 'Open Sans', sans-serif;
}

.main {
  max-width: 1800px;
  height: 951px;
  position: relative;
}

.shape {
  position: absolute;
  left: 316px;
  top: 56px;
  width: 41px;
  height: 41px;
}

.take {
  font-size: 24px;
  font-family: 'Merriweather', serif;
  color: rgb(255, 255, 255);
  font-style: italic;
  line-height: 1;
  position: absolute;
  left: 366px;
  top: 40px;
}

section h1 {
  font-size: 60px;
  color: rgb(255, 255, 255);
  font-weight: 300;
  line-height: 1.2;
  text-align: left;
  position: absolute;
  left: 312.937px;
  top: 441.707px;
}

.main h1 + p {
  font-size: 13px;
  color: rgb(255, 255, 255);
  font-weight: 400;
  line-height: 1.846;
  text-align: left;
  position: absolute;
  left: 313.938px;
  top: 554.057px;
  width: 438px;
  height: 37px;
}

.telephone {
 position: absolute;
 left: 813px;
 top: 260px;
}

.wrapper {
  width: 1170px;
  margin:0 285px 0 315px;
}

section.wrapper h1 {
 font-size: 35px;
 color: rgb(34, 38, 38);
 line-height: 0.686;
 font-weight: 300;
 margin-bottom: 40px;
 position: static;
}

.column1-2 {
  width: 570px;
  float:left;
  font-weight: 400;
  font-size: 14px;
  color: rgb(149, 149, 149);
  line-height: 1.714;
  margin-top: 100px;
}

div.column1-2 + div {
  margin: 257px 0 0 30px;
}

/* clearfix */

.clearfix:before,
.clearfix:after {
  content: "";
  display: table;
}
.clearfix:after {
  clear: both;
}

.clearfix {
  clear: both;
  *zoom: 1;
}

.menu {
  font-size: 0;
  margin: 82px 0 96px 315px;
  width: 1485px;
  height: 556px;
}

.menu div {
  float: left;
  width: 400px;
  height: 278px;
}

.menu div:nth-child(1) {
  background-color: rgb(245,152,157);
}

.menu div:nth-child(2) {
  background-color: rgb(97,95,125);
}

.menu div:nth-child(3) {
  background-image: url(../i/menu3.png);
}

.menu div:nth-child(4) {
  width: 285px;
  background-color: rgb(189,140,191);
}

.menu div:nth-child(5) {
  width: 800px;
  background-image: url(../i/menu5.png);
}

.menu div:nth-child(6) {
  background-color: rgb(130,202,156);
}

.menu div:nth-child(7) {
  background-image: url(../i/menu7.png);
  width: 285px;
}

.menu h1 {
  font-size: 30px;
  font-weight: 400;
  color: rgb(255, 255, 255);
  line-height: 1.2;
  text-align: left;
  margin: 50px 0 0 40px;
  position: static;

}

.menu p {
  font-size: 13px;
  color: rgb(255, 255, 255);
  line-height: 1.846;
  text-align: left;
  width: 78%;
  margin: 20px 0 30px 40px;
  padding: 0 0;
}

.menu div:nth-child(5) p {
  width: 400px;
}

.menu a {
  font-size: 14px;
  color: rgb(255, 255, 255);
  font-weight: bold;
  line-height: 1.714;
  text-align: left;
  margin: 0 0 0 40px;
  padding: 0 0;
  display: inline-block;
  text-decoration: none;
}

.column1-4 {
  width: 270px;
  float:left;
  margin: 0  30px 0 0;
}

div.clearfix div:nth-child(4) {
  margin-right:0;
}

div.column1-4 h1 {
  font-size: 13px;
  color: rgb(103, 103, 109);
  line-height: 1.846;
  margin-bottom: 20px;
  position: static;
}

.column1-4 p {
  font-size: 14px;
  color: rgb(149, 149, 149);
  line-height: 1.714;
  margin-bottom: 160px;
}

.car {
  position: relative;
  height: 874px;
}

.car h1 {
  top: 398px;
}

.car p {
  font-size: 13px;
  color: rgb(255, 255, 255);
  line-height: 1.846;
  text-align: left;
  position: absolute;
  left: 312.937px;
  top: 597px;
  width: 438px;
 }

.car a {
  font-size: 14px;
  color: rgb(255, 255, 255);
  font-weight: bold;
  line-height: 1.714;
  text-align: left;
  display: inline-block;
  text-decoration: none;
  position: absolute;
  left: 312.937px;
  top: 734px;
}

.green {
  background-color: rgb(130, 202, 156);
  height: 540px;
  position: relative;
}

.green h1 {
  font-size: 35px;
  color: rgb(255, 255, 255);
  position: absolute;

}

.column1-3 {
  float: left;
  width: 370px ;
}
