@import 'partials/normalize.scss';
@import url('https://fonts.googleapis.com/css?family=Merriweather');
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i');
@import url('https://fonts.googleapis.com/css?family=Merriweather');


html {
  font-family: 'Open Sans', sans-serif;
}

.main {
  max-width: 1800px;
  height: 951px;
  position: relative;
}

.shape {
  position: absolute;
  left: 316px;
  top: 56px;
  width: 41px;
  height: 41px;
}

.take {
  font-size: 20px;
  font-family: 'Merriweather', serif;
  color: rgb(255, 255, 255);
  font-style: italic;
  line-height: 1;
  position: absolute;
  left: 365px;
  top: 46px;
}

.main h1 {
  font-size: 60px;
  color: rgb(255, 255, 255);
  font-weight: 300;
  line-height: 1.2;
  text-align: left;
  position: absolute;
  left: 312px;
  top: 395px;
}

.main h1 + p {
  font-size: 13px;
  color: rgb(255, 255, 255);
  font-weight: 400;
  line-height: 1.846;
  text-align: left;
  position: absolute;
  left: 315px;
  top: 511px;
  width: 450px;
  height: 37px;
}

.telephone {
 position: absolute;
 left: 818px;
 top: 261px;
}

.wrapper {
  width: 1200px;
  margin:0 285px 0 315px;
}

section.wrapper h1 {
 font-size: 35px;
 color: rgb(34, 38, 38);
 line-height: 0.686;
 font-weight: 300;
 margin-bottom: 35px;
}

section.two p {
  margin: 23px 0;
}

.column1-2 {
  width: 570px;
  float:left;
  font-weight: 400;
  font-size: 14px;
  color: rgb(149, 149, 149);
  line-height: 1.714;
  margin: 93px 30px 0 0;
}

div.column1-2 + div {
  margin-top: 250px ;
}

/* clearfix */

.clearfix:before,
.clearfix:after {
  content: "";
  display: table;
}
.clearfix:after {
  clear: both;
}

.clearfix {
  clear: both;
  *zoom: 1;
}

.menu {
  font-size: 0;
  margin: 57px 0 96px 315px;
  width: 1485px;
  height: 556px;
}

.menu div {
  float: left;
  width: 400px;
  height: 278px;
}

.menu div:nth-child(1) {
  background-color: rgb(245,152,157);
}

.menu div:nth-child(2) {
  background-color: rgb(97,95,125);
}

.menu div:nth-child(3) {
  background-image: url(../i/menu3.png);
}

.menu div:nth-child(4) {
  width: 285px;
  background-color: rgb(189,140,191);
}

.menu div:nth-child(5) {
  width: 800px;
  background-image: url(../i/menu5.png);
}

.menu div:nth-child(6) {
  background-color: rgb(130,202,156);
}

.menu div:nth-child(7) {
  background-image: url(../i/menu7.png);
  width: 285px;
}

.menu h1 {
  font-size: 30px;
  font-weight: 300;
  color: rgb(255, 255, 255);
  line-height: 1.2;
  text-align: left;
  margin: 45px 0 0 40px;
}

.menu p {
  font-size: 13px;
  color: rgb(255, 255, 255);
  line-height: 1.846;
  text-align: left;
  width: 78%;
  margin: 20px 0 30px 40px;
  padding: 0 0;
}

.menu div:nth-child(5) p {
  width: 450px;
}



.menu a {
  font-size: 14px;
  color: rgb(255, 255, 255);
  font-weight: 700;
  line-height: 1.7;
  text-align: left;
  margin: 0 0 0 40px;
  padding: 0 0;
  display: inline-block;
  text-decoration: none;
}

.column1-4 {
  width: 270px;
  float:left;
  margin: 22px 30px 0 0;
}

div.column1-4 h1 {
  font-size: 13px;
  font-weight: 600;
  color: rgb(103, 103, 109);
  line-height: 1.846;
  margin-bottom: 16px;

}

.column1-4 p {
  font-size: 14px;
  color: rgb(149, 149, 149);
  line-height: 1.714;
  margin-bottom: 156px;
}

.car {
  position: relative;
  height: 873px;
}

.car h1 {
  font-size: 60px;
  font-weight: 300;
  color: rgb(255, 255, 255);
  line-height: 1.2;
  text-align: left;
  position: absolute;
  left: 312.937px;
  top: 398px;
 }

.car p {
  font-size: 13px;
  color: rgb(255, 255, 255);
  line-height: 1.846;
  text-align: left;
  position: absolute;
  left: 314px;
  top: 595px;
  width: 450px;
 }

.car a {
  font-size: 14px;
  color: rgb(255, 255, 255);
  font-weight: 700;
  line-height: 1.714;
  text-align: left;
  display: inline-block;
  text-decoration: none;
  position: absolute;
  left: 315px;
  top: 719px;
}

.green {
  border : 1px solid rgb(130, 202, 156);
  border-left: none;
  border-right: none;
  background-color: rgb(130, 202, 156);
  width: 1800px;
  position: relative;
}

.green div.wrapper {
  margin-top: 100px ;
}

.green h1 {
  font-size: 35px;
  color: rgb(255, 255, 255);
  line-height: 0.686;
  font-weight: 300;
}

.column1-3 {
  float: left;
  margin: 31px 30px 145px 0;
  width: 370px ;
}

.column1-3 h1 {
   font-size: 13px;
   color: rgb(255, 255, 255);
   line-height: 1.846;
}

.column1-3 p {
  font-size: 14px;
  color: rgb(255, 255, 255);
  line-height: 1.714;
  margin-top: 20px;
}

.seven {
  background-color: rgb(246, 247, 250);
  width: 1800px;
  border-top:1px solid  rgb(246, 247, 250);
  border-bottom:1px solid  rgb(246, 247, 250);
}

.seven div.wrapper {
  margin-top: 100px ;
  margin-bottom: 146px;
}

.legacy {
  display: inline-block;
  text-decoration: none;
  font-size: 11px;
  font-weight: 800;
  color: rgb(255, 255, 255);
  text-transform: uppercase;
  line-height: 2;
  text-align: center;
  border-radius: 5px;
  background-color: rgb(225, 225, 225);
  width: 77px;
  height: 21px;
  padding: 1px 0 2px 0;
  margin-left: 60px;
  margin-top: 50px;
}

.most_popular{
  display: inline-block;
  text-decoration: none;
  border-radius: 5px;
  background-color: rgb(189, 140, 191);
  font-size: 11px;
  color: rgb(255, 255, 255);
  font-weight: 700;
  text-transform: uppercase;
  line-height: 2;
  text-align: center;
  width: 110px;
  height: 21px;
  padding: 1px 0 2px 0;
  margin-left: 56px;
  margin-top: 50px;
}

.seven h1 {
  font-size: 30px;
  font-weight: 300;
  color: rgb(46, 59, 78);
  line-height: 1.333;
  text-align: left;
  margin: 13px 0 0 60px;
}

.seven p {
  margin-top: 12px;
  margin-left: 60px;
  margin-bottom: 23px;
  width: 412px;
}

.buy {
  display: inline-block;
  margin-left: 60px;
  margin-bottom: 17px;
  border-radius: 3px;
  background-color: rgb(130, 202, 156);
  text-decoration: none;
  font-size: 13px;
  color: rgb(255, 255, 255);
  font-weight: 700;
  text-transform: uppercase;
  line-height: 1.7;
  text-align: center;
  width: 151px;
  height: 30px;
  padding:13px 0 4px 0;
}

.seven .column1-2 {
  width: 570px;
  float:left;
  font-weight: 400;
  font-size: 14px;
  color: rgb(149, 149, 149);
  line-height: 1.714;
  margin:0 30px 0 0;
}
div.store {
  width: 150px;
  margin-left: 60px;
  margin-bottom: 51px;
}

.store img {
  width: 24px;
  height: 24px;
}

.store a {
  display: inline-block;
  margin: 0 12px 0 0;
}

.shadow {
  background-color: rgb(255,255,255);
  -webkit-box-shadow: 0px 0px 30px 2px rgba(0,0,0,0.18);
  -moz-box-shadow: 0px 0px 30px 2px rgba(0,0,0,0.18);
  box-shadow: 0px 0px 30px 2px rgba(0,0,0,0.18);
}

.shadow h1 {
  margin-left: 54px;
  margin-top: 13px;
}

.shadow p {
  margin-left: 54px;
  margin-top: 12px;
}

.shadow a.buy {
  margin-left: 54px;
}

.shadow div.store {
  margin-left: 54px;
}

footer {
  width: 1800px;
  background-color: rgb(39,50,62);
}

footer .column1-2 {
  width: 570px;
  float:left;
  margin: 114px 30px 0 0;
}

footer div.column1-2:nth-child(2) {
  margin: 114px 0 0 100px;
  width: 470px;
}

input {
  box-sizing: border-box;
  width: 400px;
  height: 58px;
  padding: 0 16px 0 16px;
  float:left;
  border:none;
  border-radius: 2px 0 0 2px;
  margin-top: 7px;
}

button {
  margin-top: 7px;
  box-sizing: border-box;
  width: 70px;
  height: 58px;
  border:none;
  border-radius: 0 2px 2px 0;
  background-color: rgb(130, 202, 156);
  background-image: url(../i/submit.png);
  background-repeat: no-repeat;
  background-position:center;
}

footer h1 {
  font-size: 13px;
  color: rgb(246, 247, 250);
  line-height: 1.846;
  font-weight: 600;
  margin-bottom: 16px;
}

footer p, li {
  font-size: 13px;
  color: rgb(246, 247, 250);
  line-height: 1.846;
  font-weight: 400;
}

footer h1 + p {
 width: 600px;
}

footer button + p{
  width: 350px;
}

form p {
  font-size: 12px;
  color: rgb(87, 105, 127);
  line-height: 1.5;
  text-align: left;
  font-weight: 400;
  margin-bottom: 0;
}

.list div {
  float:left;
  margin-right: 95px;
}

.list h1 {
  margin-top: 19px;
}

ul {
  list-style: none;
  padding: 0 0;
}